{% extends 'base.html' %}
{% load static %}

{% block title %}Шифратор{% endblock %}
{% block css %}
<!-- Связывание с CSS файлом -->
<link rel='icon' href={%static 'faicon.png' %}></link>
<link rel="stylesheet" href={%static 'css/encryption.css' %}></link>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <!--Заголовок-->
    <header>
        <div class="overlay">
            {% include 'parct/nav.html' %}
            <div class="container text-white pt-5 roboto-italic">
                <h1 class="ki-header-title">УЛЬТРА</h1>
                <h2 class="ki-header-title">ШИФРОВЩИК/ДЕШИФРОВЩИК</h2>
            </div>
        </div>
    </header>
    
    <div class="container text-white block">
        <!-- <div class="row justify-content-center block">
            <div class="col-sm-6 "> -->
                <div class="row d-flex  justify-content-center block">
                    <div class="col-sm-12 encrypted-col">
                        <h2 id="zagalovok" class="row text-white d-flex justify-content-center">Шифровать</h2>
                        <br>
                        <label for='nickname' class='form-label' id='cryptographer-text'>
                            <h5 class=" text-white row d-flex justify-content-center">Выберете файл размером не более 1Гб, который вы хотите
                                зашифровать</h5>
                        </label>
                        <input type="file" class='form-control ' id='cryptographer'>
                        <input type="button" class='btn btn-dark' id='cryptographer-btn' value='Шифровать'>
                        <br>
                        <h2 id="zagalovok" class="row text-white d-flex justify-content-center">Дешифровать</h2>
                        <br>
                        <label for='nickname' class='form-label' id='codebreaker-text'>
                            <h5 class=" text-white row d-flex justify-content-center">Выберете файл размером не более 1Гб , который хотите
                                дешифровать</h5>
                        </label>
                        <input type="file" class='form-control' id='codebreaker'>
                        <input type="button" class='btn btn-dark' id='codebreaker-btn' value='Дешифровать'>
                    </div>
                </div>
            <!-- </div>
        </div> -->
    </div>    
    
{% endblock %}
{% block js %}
    <script src={% static 'js/codebreaker.js' %}></script>
    <script src={% static 'js/cryptographer.js' %}></script>
{% endblock %}
