{% extends 'base.html' %}
{% load static %}

{% block title %}Создаться{% endblock %}
{% block css %}
<!-- Связывание с CSS файлом -->
<link rel='icon' href={%static 'faicon.png' %}></link>
<link rel="stylesheet" href={%static 'css/reg.css' %}></link>
{% endblock %}
{% block content %}
{% csrf_token %}
        <div class="container text-white" id="reg">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <main class="row justify-content-center">
                        <h2 class="row justify-content-center" id='obsh'>Войти/Зарегистрироваться</h2>
                        <div class="card text-white">
                            <label for='nickname' class='form-label' id='email-label'>Введите свою почту для привязки</label>
                            <input type="email" class='form-control ' id='email' value='Fantom@yandex.ru'>
                            <label for='nickname' class='form-label' id='cod-email-label'>Введите код с полученого сообщения</label>
                            <input type="text" class='form-control ' id='cod-email' value='Fantom'>
                            <label for='nickname' class='form-label' id='nickname-label'>Придумайте ник для регистрации, если вы входите введите свой<a id='reg-link' href="{%url 'account'%}"> или нажмите сюда, если забыли его</a></label>
                            <input type="text" class='form-control ' id='nickname' value='Fantom'>
                            <label for='password' class='form-label' id='password-label'>Придумайте пароль для регистрации, если входите введите свой<a id='reg-link' href="{%url 'account'%}"> или нажмите сюда, если забыли его</a></label>
                            <input type="password" class='form-control ' id='password' value='111fefefefef'>
                            {% comment %} <label for='password' class='form-label' id='password-proverka-label'>Повторите пароль</label> {% endcomment %}
                            {% comment %} <input type="password" class='form-control ' id='password-proverka' value='111fefefefef'> {% endcomment %}
                            <input type="button" class='btn btn-dark' id='reg-btn' value='Зарегистрироваться'>
                            <input type="button" class='btn btn-dark' id='auth-btn' value='Войти'>
                        </div>
                    </main>
                </div>
            </div>
{% endblock %}
{% block js %}
<script src={% static 'js/reg.js' %}></script>
<script type="text/javascript" src={% static 'js/auth.js' %}></script>
{% endblock %}