.card {
    border-radius: 25px;
    /* border-color: rgb(241, 239, 230); */
    border-style: solid;
    padding: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    background-color: rgb(34, 40, 49);
}
.modal-content{
    border-radius: 25px;
    background-color: rgb(34, 40, 49);
}
#obsh {
    align-items: center;
}

p {
    color: #ffffff;
}

#reg-link:hover{
    text-decoration:underline
}

#reg-link:active{
    color:coral
}

#reg-link{
    color:rgb(255, 255, 255);
    text-decoration:none;
}
#auth-btn:hover {
    text-decoration: underline
}

#auth-btn:active {
    color: coral
}

#auth-btn {
    color: rgb(255, 255, 255);
    text-decoration: none;
}